# build artefacts
draw-and-render.sketchplugin/Contents/Sketch
draw-and-render.sketchplugin/Contents/Resources/_webpack_resources
draw-and-render.sketchplugin/Contents/Resources/main.js

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

dist
.cache